body {
    background-color: #fff;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

.conatainer {
    display: flex;
    flex-direction: column;
}

.header-logo img {
    width: 84px;
    height: 84px;
    margin-right: auto;
}

.navbar {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 20px 0px 20px 100px;
    align-items: center;
}

.header-link {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
}

.header-link a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', arial;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
    font-family: 'Roboto', arial;
    
}

.hero-info {
    max-width: 75%;
    margin: 0 auto;
    padding: 30px 20px;
}

.hero-subheader {
    font-size: 36px;
}

button {
    background-color: #3882f6;
    color: #fff;
    font-size: 14px;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    font-weight: bold;
    
}

.hero {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.hero-cta {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.hero-image img {
    width: 500px;
    height: 350px;
}

.secondary-hero {
    align-items: center;
}

.image-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image-section img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 3px solid #3882F6;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 0 200px;
}

.quote-section p {
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto', arial;
    font-size: 36px;
    color: #1F2937;
}

.quote-section b {
    font-family: 'Roboto', arial;
    text-align: right;
    padding-bottom: 20px;
    padding-right: 10px;
}

footer {
    background-color: #1F2937;
    color: #fff;
    font-family: 'Roboto', arial;
    /* position: fixed;
    bottom: 0; */
    width: 100%;
}

.footer-text {
    font-size: 1rem;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
}